/* Empty. Add your own CSS if you like */


body
{
  text-align:center;
}

.urtribe-logo
{
  width:80%;
  max-width:600px;
  margin:0px auto;
}

.button.button-block, .button.button-full {
  margin:0px;
}

.block-dropdown
{
  width:100%;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
{
  color: #333;
  background-color: #ffffff;
}

.block-dropdown .btn .caret {
  margin-left: 0;
  float: right;
  margin-top: 8px;
}

.block-dropdown button
{
  height: 47px;
}

.form-section-header
{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  color: #44becc;
}



.input-label
{
  color: #AAAAAA;
  font-size: 14px;
  text-align: left;
}

.item-stacked-label .input-label
{
  text-align: left;
  display:block;
}

ion-side-menu .item
{
  text-align:left;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
{
  margin-left:0px;
}

.item-checkbox
{
  text-align:left;
  height: 68px;
}

#invitePeople
{
  margin: 40px 0px;
  font-size:16px;
  border-top: 1px solid  #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  cursor:pointer;
}

#invitePeople div:first-child
{
  text-align:left;
}

#invitePeople div:last-child
{
  text-align:right;
}

.confirmed
{
  color: #33cd5f;
}


/************************************************************

                     Dashboard Styles

*************************************************************/

.dashboard-availability .toggle-label
{
  font-size: 20px;
  margin-top: 8px;
}

#todayEvents
{
  text-align:left;
}

.panel-heading
{
  background-color: #6ccbd7;
}

.panel-title
{
  margin:0px 11px;
}

.panel-title a
{
  color:#ffffff;
  width: 100%;
  display: block;
  padding: 10px;
}

.panel-body
{
  margin:11px;
  font-size:14px;
}

.panel
{
  border-bottom:1px solid #ffffff;
}

.event-summary
{
  font-size:14px;
}

.event-summary .event-title
{
  font-weight:bold;
}

.event-summary .event-location
{
  margin-bottom:10px;
}

.button-cta
{
  font-weight:bold;
  color: #3C7AF5;
}

.header-top-space
{
  margin-top:25px;
}

#inviteAround
{
  width:80%;
  font-size:14px;
  font-weight:bold;
}

#aroundHeader div:first-child
{
  margin-top:5px;
}

.contact-select
{
  margin-left:40px;
  margin-top: -4px;
}

.contact-select .contact-thumb
{
  width:40px;
  height:40px;
  display:block;
  background-color:#696765;
  float:left;
}

.contact-select .contact-info
{
  float:left;
  margin-left:8px;
}

.contact-select .contact-info div
{
  clear:both;
}

.contact-info .contact-name
{
  font-size:18px;
}

.contact-info .contact-distance
{
  font-size:14px;
}

.contact-name .ion-record
{
  color:#33cd5f;
}

/************************************************************

                     Events Styles

*************************************************************/

.event-overview
{
  text-align:left;
  padding: 0px 6px;
  border-bottom: 2px solid #AAAAAA;
  margin-top:10px;
}

.event-overview .title
{
  font-size: 17px;
  font-weight: bold;
  width:98%;
}

.event-overview .attendance span
{
  font-size:29px;
}

.event-overview .time, .event-overview .location
{
  margin:5px;
  font-size:14px;
}

.event-overview .location span
{
  margin-right:6px;
}

/************************************************************

                     Event View Styles

*************************************************************/
.event-view-summary
{
  text-align:left;
}

.event-view-summary .event-title
{
  font-weight:bold;
  font-size:16px;
}

.event-view-summary .event-created
{
  font-size:14px;
  margin-bottom:5px;
}

.event-view-options .attendance-status span
{
  font-size: 22px;
  display: block;
  float: right;
}
