<ion-modal-view>
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-clear" ng-click="closeCreateEvent()">Close</button>
      </div>
      <h1 class="title">Create Event</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="createEvent()">Done</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Event Name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Description" rows="5"></textarea>
        </label>
      </div>
      <div class="list">
        <div class="form-section-header">LOCATION</div>
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Street Address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="City">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            State
          </div>
          <select>
            <option selected>Illinois</option>
            <option selected>Another State</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Zip">
        </label>
      </div>
      <div class="list">
        <div class="form-section-header">DATE AND TIME</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date</span>
          <input type="date"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Start Time</span>
          <input type="time"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">End Time</span>
          <input type="time"/>
        </label>
      </div>
      <div class="list">
        <div class="form-section-header">INVITE</div>
        <div class="form-modal">
          Groups
        </div>
        <div class="form-modal">
          Individuals
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
