<div class="event-notification-popup">
  <div class="inviter">
    Tina Burkhart invited you to:
  </div>
  <div class="title">
    Soft Speaker and Deadlands Show
  </div>
  <div class="time">
    <span class="ion-clock"></span> May 10 at 7:00PM
  </div>
  <div class="location">
    <span class="ion-location"></span> Empty Bottle
  </div>
  <button class="button button-outline button-calm button-small details-btn">
    Details
  </button>
</div>
<div class="event-cta">
  <div class="button-bar">
    <a class="button button-small">Going</a>
    <a class="button button-small">Maybe</a>
    <a class="button button-small">Decline</a>
  </div>
</div>
