<ion-view view-title="Event Name">
  <ion-content>
    <div class="event-view-summary row">
      <div class="col">
        <div class="event-title">
          Event Name
        </div>
        <div class="event-created">
          Event created by Ashly Dalene
        </div>
      </div>
    </div>
    <div class="button-bar event-view-options">
      <a class="button button-small">Invite</a>
      <a class="button button-small">Details</a>
      <a class="button button-small attendance-status">Going <span class="ion-android-checkbox confirmed"></span></a>
    </div>
  </ion-content>
</ion-view>
