<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i> Back
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
          Dashboard
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/contacts">
          Contacts
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/help">
          Help
        </ion-item>
        <ion-item nav-clear menu-close>
          Sign Out
        </ion-item>
        <ion-item nav-clear menu-close ng-click="showPopup()">
          Notification Test
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<div class="bar bar-footer bar-positive">
  <div class="button-bar">
    <a class="button button-icon icon ion-email"></a>
    <a class="button button-icon icon ion-person-add"></a>
    <a class="button button-icon icon ion-calendar" href="#/app/events"></a>
    <a class="button button-icon icon ion-chatboxes"></a>
  </div>

</div>
